html {
  direction: rtl; }

body {
  font-family: "TRY Clother";
  background-color: #F6F8FF;
  min-height: 100vh; }
  body .uk-container {
    max-width: 1240px; }
  body .uk-grid {
    margin-left: 0; }
    body .uk-grid > * {
      padding-left: 14px; }
      @media screen and (max-width: 992px) {
        body .uk-grid > * {
          padding-left: 0; } }

.search-section {
  padding: 56px 0;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .search-section {
      padding: 28px 0; } }
  .search-section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: -1; }
    .search-section .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top; }
      @media screen and (max-width: 768px) {
        .search-section .bg img:first-child {
          display: none; } }
      .search-section .bg img:nth-of-type(2) {
        display: none; }
        @media screen and (max-width: 768px) {
          .search-section .bg img:nth-of-type(2) {
            display: block; } }
  .search-section .custom-1-4 {
    max-width: 240px;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .search-section .custom-1-4 {
        max-width: 100%; } }
  .search-section .custom-3-4 {
    max-width: calc(100% - 240px);
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .search-section .custom-3-4 {
        max-width: 100%; } }
  .search-section .uk-card {
    border-radius: 16px;
    background-color: white;
    padding: 28px 23px;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .search-section .uk-card {
        padding: 28px 16px; } }
  .search-section .action-audience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    border-radius: 16px;
    border: 1px solid #237DFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px; }
    @media screen and (max-width: 768px) {
      .search-section .action-audience {
        min-height: 52px;
        flex-direction: row;
        gap: 12px; } }
  @media screen and (max-width: 992px) {
    .search-section .form-clear-wrapper {
      flex-direction: column-reverse;
      gap: 20px; } }
  .search-section form input, .search-section form select {
    appearance: none;
    outline: none;
    background-color: #F6F8FF !important;
    border-radius: 8px;
    border: 0;
    padding: 0 14px;
    height: 44px !important;
    color: #737895;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px; }
    .search-section form input::placeholder, .search-section form select::placeholder {
      color: #737895; }
  .search-section form input[type="search"] {
    padding: 0 54px 0 14px;
    background-image: url("../images/icons/icon-search.svg");
    background-position: 96%;
    background-size: 24px;
    background-repeat: no-repeat; }
  .search-section form select {
    background-image: url("../images/icons/icon-chevron.svg") !important;
    background-position: 6% !important;
    background-size: 24px;
    background-repeat: no-repeat !important; }
  .search-section form .toggle-advanced {
    display: none; }
    .search-section form .toggle-advanced.show {
      display: block; }
  .search-section form .form-advanced {
    border: 0;
    background-color: transparent;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #237DFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    cursor: pointer; }
  .search-section form .form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: #237DFF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    cursor: pointer; }
  .search-section form .form-clear {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #737895;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px; }

.results-section {
  padding: 34px 0; }
  .results-section .card {
    box-shadow: 0px 2px 12px 0px #7378951A;
    border-radius: 16px;
    padding: 16px 13px 16px 38px;
    background-color: white; }
    @media only screen and (max-width: 1300px) {
      .results-section .card {
        padding: 15px 10px; } }
    .results-section .card.multiple .flex .results-logo .results-bage {
      display: inline-flex; }
    .results-section .card.multiple .flex .text .results-title .results-stores {
      display: inline-flex; }
    .results-section .card.multiple .uk-accordion-content .results-additional .info .locations-wrapper {
      max-height: 250px;
      overflow-y: scroll;
      /* width */
      /* Track */
      /* Handle */ }
      .results-section .card.multiple .uk-accordion-content .results-additional .info .locations-wrapper::-webkit-scrollbar {
        width: 3px; }
      .results-section .card.multiple .uk-accordion-content .results-additional .info .locations-wrapper::-webkit-scrollbar-track {
        background-color: #F6F8FF;
        border-radius: 3px; }
      .results-section .card.multiple .uk-accordion-content .results-additional .info .locations-wrapper::-webkit-scrollbar-thumb {
        background-color: #237DFF;
        border-radius: 3px; }
    .results-section .card.uk-open .accordion img:first-child {
      display: none; }
    .results-section .card.uk-open .accordion img:nth-of-type(2) {
      display: block !important; }
    .results-section .card .flex {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .results-section .card .flex {
          flex-direction: column; } }
      .results-section .card .flex:before {
        display: none; }
      .results-section .card .flex .flex-item {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .results-section .card .flex .flex-item:first-of-type {
          width: 50%; }
        .results-section .card .flex .flex-item:nth-of-type(2) {
          width: 40%; }
      .results-section .card .flex .results-percents {
        min-width: 81px;
        width: 81px;
        margin-left: 10px; }
        .results-section .card .flex .results-percents .percents {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #0FCE95;
          font-size: 24px;
          font-weight: 900;
          line-height: 26.4px;
          text-align: center; }
          .results-section .card .flex .results-percents .percents span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            font-weight: 900;
            line-height: 39.6px; }
            .results-section .card .flex .results-percents .percents span .symbol {
              position: relative;
              top: 3px;
              font-size: 24px; }
      .results-section .card .flex .results-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 26px;
        width: 108px;
        min-width: 108px;
        height: 108px;
        border-radius: 16px;
        border: 1px solid #E9ECF8;
        position: relative; }
        @media only screen and (max-width: 1300px) {
          .results-section .card .flex .results-logo {
            margin-left: 15px;
            width: 90px;
            min-width: 90px;
            height: 90px; } }
        .results-section .card .flex .results-logo img {
          width: 100%; }
        .results-section .card .flex .results-logo .results-bage {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          align-items: center;
          justify-content: center;
          height: 22px;
          border-radius: 12px;
          padding: 0 9px;
          background-color: #0FCE95;
          color: white;
          font-size: 12px;
          font-weight: 700;
          line-height: 1; }
      .results-section .card .flex .text {
        width: 100%;
        max-width: 422px;
        margin-left: 25px; }
        @media only screen and (max-width: 1300px) {
          .results-section .card .flex .text {
            max-width: 250px;
            margin-left: 15px; } }
        .results-section .card .flex .text .results-title {
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 8px;
          margin-bottom: 2px;
          color: #23233A;
          font-size: 24px;
          font-weight: 700;
          line-height: 33.6px; }
          .results-section .card .flex .text .results-title .results-stores {
            display: none;
            align-items: baseline;
            color: #B4B6BE;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            direction: ltr; }
            .results-section .card .flex .text .results-title .results-stores span {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              height: 19px;
              padding: 0 5px;
              margin-left: 5px;
              position: relative;
              top: -2px;
              background-color: #B4B6BE;
              color: white;
              font-size: 12px;
              font-weight: 400;
              line-height: 1;
              letter-spacing: 0.05em;
              text-transform: uppercase; }
        .results-section .card .flex .text .results-text p {
          color: #23233A;
          font-size: 18px;
          font-weight: 400;
          line-height: 21.6px; }
      .results-section .card .flex .results-location {
        width: 100%;
        max-width: 205px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #237DFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px; }
        @media only screen and (max-width: 1300px) {
          .results-section .card .flex .results-location {
            margin-left: 15px; } }
        .results-section .card .flex .results-location .icon img {
          min-width: 14px; }
      .results-section .card .flex .results-icons {
        display: flex;
        gap: 12px;
        margin-left: 80px; }
        @media only screen and (max-width: 1300px) {
          .results-section .card .flex .results-icons {
            margin-left: 15px; } }
        .results-section .card .flex .results-icons .icon img {
          width: 48px;
          min-width: 48px; }
      .results-section .card .flex .accordion {
        min-width: 48px;
        cursor: pointer; }
        .results-section .card .flex .accordion img:nth-of-type(2) {
          display: none; }
  .results-section .uk-accordion-content {
    margin-top: 5px;
    padding-bottom: 28px; }
    .results-section .uk-accordion-content .results-additional {
      position: relative;
      z-index: 1;
      margin-right: 225px;
      margin-left: 130px;
      padding-top: 7px; }
      @media screen and (max-width: 992px) {
        .results-section .uk-accordion-content .results-additional {
          margin: 0; } }
      .results-section .uk-accordion-content .results-additional:before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: calc(100% - 51px);
        height: 2px;
        background-color: #F6F8FF; }
      .results-section .uk-accordion-content .results-additional .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 25px; }
        @media only screen and (max-width: 768px) {
          .results-section .uk-accordion-content .results-additional .info {
            flex-direction: column; } }
        .results-section .uk-accordion-content .results-additional .info .results-map {
          width: 100%;
          max-width: 274px;
          height: 364px;
          padding-top: 17px; }
          @media only screen and (max-width: 768px) {
            .results-section .uk-accordion-content .results-additional .info .results-map {
              max-width: 100%; } }
          .results-section .uk-accordion-content .results-additional .info .results-map iframe {
            width: 100%;
            height: 100%;
            border-radius: 16px; }
        .results-section .uk-accordion-content .results-additional .info .info-flex {
          width: 100%; }
          .results-section .uk-accordion-content .results-additional .info .info-flex .results-big-text p {
            width: 100%;
            max-width: 422px;
            color: #23233A;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px; }
          .results-section .uk-accordion-content .results-additional .info .info-flex .item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            margin-top: -1px;
            border-top: 1px solid #F6F8FF;
            border-bottom: 1px solid #F6F8FF;
            transition: .3s; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item.item-location {
              cursor: pointer;
              transition: background 0.3s ease; }
              .results-section .uk-accordion-content .results-additional .info .info-flex .item.item-location.active {
                background-color: #E0F4FF;
                padding-top: 24px; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item a {
              display: flex;
              gap: 10px;
              color: #23233A;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.2px; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-website,
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze {
              width: 45%;
              padding-right: 20px;
              text-align: right; }
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-website img, .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-website svg,
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze img,
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze svg {
                min-width: 24px; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-email,
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-phone {
              width: 55%;
              padding-right: 20px;
              text-align: right; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-website a {
              text-decoration: underline; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze,
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-phone {
              display: flex;
              justify-content: flex-end; }
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze a,
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-phone a {
                width: fit-content;
                padding-right: 0; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze {
              flex-wrap: wrap; }
              .results-section .uk-accordion-content .results-additional .info .info-flex .item .results-waze span {
                margin-top: -15px;
                width: 100%;
                color: #237DFF;
                font-weight: 400;
                font-size: 12px;
                line-height: 14.4px;
                letter-spacing: 0%;
                text-transform: uppercase; }
          .results-section .uk-accordion-content .results-additional .info .info-flex .locations-wrapper {
            direction: ltr; }
            .results-section .uk-accordion-content .results-additional .info .info-flex .locations-wrapper .item .results-phone a {
              display: flex;
              justify-content: flex-end; }

.default-modal .uk-modal-dialog {
  width: 100%;
  max-width: 420px !important;
  box-shadow: 0px 2px 50px 0px #73789580;
  border-radius: 16px;
  position: relative; }
  .default-modal .uk-modal-dialog .modal-close {
    position: absolute;
    left: 15px;
    top: 15px; }
    .default-modal .uk-modal-dialog .modal-close button {
      background-color: transparent;
      padding: 0;
      border: 0;
      cursor: pointer; }
  .default-modal .uk-modal-dialog .wrapper {
    width: 100%;
    max-width: 236px;
    margin: 0 auto; }
    .default-modal .uk-modal-dialog .wrapper .icon {
      margin-bottom: 8px; }
    .default-modal .uk-modal-dialog .wrapper p {
      margin-bottom: 26px;
      color: #23233A;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: center; }
    .default-modal .uk-modal-dialog .wrapper .buttons {
      display: flex;
      justify-content: center;
      justify-content: space-between; }
      .default-modal .uk-modal-dialog .wrapper .buttons button {
        margin: 0 auto;
        width: 48%;
        height: 38px;
        border: 1px solid #237DFF;
        background-color: transparent;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        cursor: pointer; }
        .default-modal .uk-modal-dialog .wrapper .buttons button.allow {
          background-color: #237DFF;
          color: white; }
        .default-modal .uk-modal-dialog .wrapper .buttons button.decline {
          color: #237DFF; }
