// global

html {
    direction: rtl;
}

body {
    font-family: "TRY Clother";
    background-color: #F6F8FF;
    min-height: 100vh;
    .uk-container {
        max-width: 1240px;
    }
    .uk-grid {
        margin-left: 0;
        &>* {
            padding-left: 14px;
            @media screen and (max-width: 992px) {
                padding-left: 0;
            }
        }
    }
}

// search section

.search-section {
    // min-height: 240px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media screen and (max-width: 768px) {
        // min-height: 631px;
        padding: 25px 0;
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            &:first-child {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            &:nth-of-type(2) {
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .custom-1-4 {
        max-width: 240px;
        width: 100%;
        @media only screen and (max-width: 768px) {
            max-width: 100%;
        }
    }
    .custom-3-4 {
        max-width: calc(100% - 240px);
        width: 100%;
        @media only screen and (max-width: 768px) {
            max-width: 100%;
        }
    }
    .uk-card {
        border-radius: 16px;
        background-color: white;
        padding: 28px 23px;
        height: 100%;
        @media screen and (max-width: 768px) {
            padding: 28px 16px;
        }
    }
    .action-audience {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        border-radius: 16px;
        border: 1px solid #237DFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        @media screen and (max-width: 768px) {
            min-height: 41px;
            flex-direction: row;
            gap: 12px;
        }
        &.active {
            background-color: rgba(179, 229, 255, 1);
        } 
    }
    .form-clear-wrapper {
        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
            gap: 20px;
        }
    }
    form {
        input, select {
            appearance: none;
            outline: none;
            background-color: #F6F8FF!important;
            border-radius: 8px;
            border: 0;
            padding: 0 14px;
            height: 44px!important;
            color: #737895;
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            &::placeholder {
                color: #737895;
            }
        }
        input[type="search"] {
            padding: 0 54px 0 14px;
            background-image: url('../images/icons/icon-search.svg');
            background-position: 96%;
            background-size: 24px;
            background-repeat: no-repeat;
        }
        select {
            background-image: url('../images/icons/icon-chevron.svg')!important;
            background-position: 15px!important;
            background-size: 24px;
            background-repeat: no-repeat!important;
        }
        .toggle-advanced {
            display: none;
            &.show {
                display: block;
            }
        }
        .form-advanced {
            border: 0;
            background-color: transparent;
            height: auto;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 12px;
            color: #237DFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 25.2px;
            cursor: pointer;
        }
        .search-wrapper {
            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column-reverse;
                .uk-flex {
                    width: 100%;
                    margin-top: 20px;
                    justify-content: flex-start;
                }
            }
        }
        .form-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 44px;
            border-radius: 8px;
            background-color: #237DFF;
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 25.2px;
            cursor: pointer;
        }
        .form-clear {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            height: auto;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 8px;
            color: #737895;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
        }
    }
    
}

// results section

.results-section {
    padding: 34px 0;
    .card {
        box-shadow: 0px 2px 12px 0px #7378951A;
        border-radius: 16px;
        padding: 16px 13px 16px 38px;
        background-color: white;
        @media only screen and (max-width: 1300px) {
            padding: 15px 10px;
        }
        &.multiple {
            .flex {
                .results-logo {
                    .results-bage {
                        display: inline-flex;
                    }
                }
                .text {
                    .results-title {
                        .results-stores {
                            display: inline-flex;
                        }
                    }
                }
            }
            .uk-accordion-content {
                .results-additional {
                    .info {
                        .locations-wrapper {
                            max-height: 250px;
                            overflow-y: scroll;
                            /* width */
                            &::-webkit-scrollbar {
                                width: 3px;
                            }
                            
                            /* Track */
                            &::-webkit-scrollbar-track {
                                background-color: #F6F8FF;
                                border-radius: 3px;
                            }
                            
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background-color: #237DFF;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
        &.uk-open {
            .accordion {
                img {
                    &:first-child {
                        display: none;
                    }
                    &:nth-of-type(2) {
                        display: block!important;
                    }
                }
            }
        }
        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
            &:before {
                display: none;
            }
            .flex-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:first-of-type {
                    width: 50%;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                &:nth-of-type(2) {
                    width: 40%;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }
            .results-percents {
                min-width: 81px;
                width: 81px;
                margin-left: 10px;
                .percents {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #0FCE95;
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 26.4px;
                    text-align: center;
                    @media only screen and (max-width: 768px) {
                        margin-bottom: 10px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 36px;
                        font-weight: 900;
                        line-height: 39.6px;
                        .symbol {
                            position: relative;
                            top: 3px;
                            font-size: 24px;
                        }
                    }
                    .discount-info {
                        display: inline-flex;
                        margin-top: 3px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 110.00000000000001%;
                        letter-spacing: 0%;
                        text-align: center;
                    }
                }
            }
            .results-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                margin-left: 26px;
                width: 108px;
                min-width: 108px;
                height: 108px;
                border-radius: 16px;
                border: 1px solid #E9ECF8;
                position: relative;
                @media only screen and (max-width: 1300px) {
                    margin-left: 15px;
                    width: 90px;
                    min-width: 90px;
                    height: 90px;
                }
                img {
                    width: 100%;
                }
                .results-bage {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    height: 22px;
                    border-radius: 12px;
                    padding: 0 9px;
                    background-color: #0FCE95;
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 1;
                    @media only screen and (max-width: 768px) {
                        top: initial;
                        bottom: -5px;
                    }
                }
            }
            .text {
                width: 100%;
                max-width: 422px;
                margin-left: 25px;
                @media only screen and (max-width: 1300px) {
                    max-width: 250px;
                    margin-left: 15px;
                }
                .amount-of-chain-store {
                    display: inline-flex;
                    gap: 5px;
                    color: #B4B6BE;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    .chain-span {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        height: 19px;
                        padding: 0 5px;
                        border-radius: 50px;
                        background-color: #B4B6BE;
                        color: white;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 5%;
                        text-align: right;
                        text-transform: uppercase;

                    }
                }
                .results-title {
                    display: inline-flex;
                    flex-wrap: wrap;
                    align-items: baseline;
                    gap: 8px;
                    margin-bottom: 2px;
                    color: #23233A;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 33.6px;
                    .results-stores {
                        display: none;
                        align-items: baseline;
                        color: #B4B6BE;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 25.2px;
                        direction: ltr;
                        span {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            height: 19px;
                            padding: 0 5px;
                            margin-left: 5px;
                            position: relative;
                            top: -2px;
                            background-color: #B4B6BE;
                            color: white;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 1;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                        }
                    }
                }
                .results-text {
                    p {
                        color: #23233A;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21.6px;
                    }
                }
            }
            .results-location {
                width: 100%;
                max-width: 205px;
                margin-left: 25px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #237DFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                @media only screen and (max-width: 1300px) {
                    margin-left: 15px;
                }
                &.show-mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: block;
                    }

                }
                &.show-desctop {
                    display: block;
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }
                .icon {
                    img {
                        min-width: 14px;
                    }
                }
            }
            .results-icons {
                display: flex;
                gap: 12px;
                margin-left: 80px;
                @media only screen and (max-width: 1300px) {
                    margin-left: 15px;
                }
                .icon {
                    img {
                        width: 48px;
                        min-width: 48px;
                    }
                }
            }
            .accordion {
                min-width: 48px;
                cursor: pointer;
                img {
                    &:nth-of-type(2) {
                        display: none;
                    }
                }
                &.show-mobile {
                    display: none;
                    @media screen and (max-width: 992px) {
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                    }

                }
                &.show-desctop {
                    display: block;
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }
            }
        }
    }
    .uk-accordion-content {
        margin-top: 5px;
        padding-bottom: 28px;
        .results-additional {
            position: relative;
            z-index: 1;
            margin-right: 225px;
            margin-left: 130px;
            padding-top: 7px;
            @media screen and (max-width: 992px) {
                margin: 0;
            }
            &:before {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: calc(100% - 51px);
                height: 2px;
                background-color: #F6F8FF;
            }
            .info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 25px;
                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                }
                .results-map {
                    width: 100%;
                    max-width: 274px;
                    height: 364px;
                    padding-top: 17px;
                    @media only screen and (max-width: 768px) {
                        max-width: 100%;
                    }
                    iframe {
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }
                .info-flex {
                    width: 100%;
                    .results-big-text {
                        p {
                            width: 100%;
                            max-width: 422px;

                            color: #23233A;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 21.6px;
                        }
                    }
                    .item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 16px 0;
                        margin-top: -1px;
                        border-top: 1px solid #F6F8FF;
                        border-bottom: 1px solid #F6F8FF;
                        transition: .3s;
                        @media only screen and (max-width: 768px) {
                            flex-direction: column;
                            gap: 15px;
                        }
                        &.item-location {
                            cursor: pointer;
                            transition: background 0.3s ease;
                            &.active {
                                background-color: #E0F4FF;
                                padding-top: 24px;
                            }
                        }
                        a {
                            display: flex;
                            gap: 10px;
                            color: #23233A;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19.2px;
                        }
                        .results-website,
                        .results-waze {
                            width: 45%;
                            padding-right: 20px;
                            text-align: right;
                            img, svg {
                                min-width: 24px;
                            }
                            a {
                                white-space: nowrap;
                            }
                        }
                        .results-email,
                        .results-phone {
                            width: 55%;
                            padding-right: 20px;
                            text-align: right;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                            }
                            .icon {
                                min-width: 24px;
                            }
                        }
                        .results-website {
                            a {
                                white-space: nowrap;
                                text-decoration: underline;
                            }
                        }
                        .results-waze,
                        .results-phone {
                            display: flex;
                            justify-content: flex-end;
                            a {
                                width: fit-content;
                                padding-right: 0;
                            }
                        }
                        .results-waze {
                            flex-wrap: wrap;
                            span {
                                margin-top: -15px;
                                width: 100%;
                                color: #237DFF;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14.4px;
                                letter-spacing: 0%;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .locations-wrapper {
                        direction: ltr;
                        .item {
                            @media only screen and (max-width: 768px) {
                                flex-direction: row;
                                gap: 0;
                            }
                            .results-phone {
                                @media only screen and (max-width: 768px) {
                                    width: 40%;
                                    justify-content: flex-start;
                                    padding: 0 20px;
                                }
                                a {
                                    display: flex;
                                    justify-content: flex-end;
                                }
                            }
                            .results-waze {
                                @media only screen and (max-width: 768px) {
                                    width: 60%;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
}

// Modal

.default-modal {
    .uk-modal-dialog {
        width: 100%;
        max-width: 420px!important;
        box-shadow: 0px 2px 50px 0px #73789580;
        border-radius: 16px;
        position: relative;
        .modal-close {
            position: absolute;
            left: 15px;
            top: 15px;
            button {
                background-color: transparent;
                padding: 0;
                border: 0;
                cursor: pointer;
            }
        }
        .wrapper {
            width: 100%;
            max-width: 236px;
            margin: 0 auto;
            .icon {
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 26px;
                color: #23233A;
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;
            }
            .buttons {
                display: flex;
                justify-content: center;
                justify-content: space-between;
                button {
                    margin: 0 auto;
                    width: 48%;
                    height: 38px;
                    border: 1px solid #237DFF;
                    background-color: transparent;
                    border-radius: 8px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25.2px;
                    cursor: pointer;
                    &.allow {
                        background-color: #237DFF;
                        color: white;
                    }
                    &.decline {
                        color: #237DFF;
                    }
                }
            }
        }
    }
}
